@footer-height: 30px;
@header-height: 64px;
@body-padding: 20px;
@body-height: calc(100vh - @header-height - @footer-height - 2 * @body-padding);
@main-width: 100%;
@main-padding: 0px 30px;

.layout {
  background: #282828;
}

.content {
  display: flex;
  width: 100%;
  padding: @body-padding;

  .body {
    min-height: @body-height;
    width: 100%;
  }
}